.row
  - each_column(menu) do |column|
    .col-md-12.col-lg-6
      - column.each do |group, items|
        %table.table.table-striped
          %thead
            %tr
              %th{ colspan: 2 }
                %h4= group
          %tbody
            - items.each do |item|
              %tr
                %th= item.name
                %td= item.description
                - if menu_item_in_favorites(item)
                  %td= link_to 'Remove from Favorites', {controller: "favorites", action: "destroy", menu_item_id: item.id}, {class: "btn btn-default remove-favorite", method: :delete}
                - else
                  %td= link_to 'Add to Favorites', {controller: "favorites", action: "create", menu_item_id: item.id}, {class: "btn btn-default add-favorite", method: :post}
